extend layout

block content
    for item in data
        form#mainForm.fullWidth.flex(method='POST', action=`/admin/location-edit?id=${item.id}`, enctype='multipart/form-data')
            #menuPanel
                p.mbMed.tTitle Settings
                .menuSave.menuItem.mbSm
                    input.menuOp.tCap(type="submit", value="Save Changes")
                
            #content.col23.colSkip
                p.mbMed.tTitle
                    a(href=`/admin/vendor-edit?id=${item.rootID}`)
                        span.tGray  Vendors /    
                    span=`Location Edit: ID.${item.id}`
                .content-form.fullWidth.flex.mbSm
                    .col2.mbSm
                        label Address
                        p
                        input.prime-input(name="address", type="text", value=item.address)
                    .col2.mbSm.flex
                        .col3
                            label City
                            p
                            input.prime-input(name="city", type="text", value=item.city)
                        .col3
                            label State
                            p
                            input.prime-input(name="state", type="text", value=item.state)
                        .col3
                            label Zip
                            p
                            input.prime-input(name="zip", type="text", value=item.zip)
                    .col3.mbSm
                        label Social
                        p
                        input.prime-input(name="yelp", type="text", value=item.social)
                    .col3.mbSm
                        label Map
                        p
                        input.prime-input(name="map", type="text", value=item.map)
                    .col3.mbSm
                        label Phone
                        p
                        input.prime-input(name="phone", type="text", value=item.phone)
                    .col2.mbSm
                        label lat
                        p
                        input.prime-input(name="lat", type="text", value=item.lat)
                    .col2.mbSm
                        label long
                        p
                        input.prime-input(name="long", type="text", value=item.long)
                
                    
                .tTitle.mbMed Store Images
                #sort1.galleryHold.flex.flexAStart
                    input.form-control(name='sort1', type='hidden')
                    input.form-control(name='currID', type='hidden', value=item.id)
                    -   var sortCount1 = 1
                    for img in data[0].media
                        .sort1.singleImg.col3.tGray(data-id=img.id, data-order=sortCount1)
                            img(src=img.url)
                            .fullWidth.ptXs.pbXs.tBold.deleteBtn.flex.relative
                                p.tBold=sortCount1+"."
                                a(href=`/admin/media-delete?id=${img.id}&section=location-edit&sec=${item.id}` onclick="return confirm('Are you sure?')")
                                    p.fullWidth.tBold.tRight.removeText × Remove
                                    .sortHandle
                        -   sortCount1++
                    label.tBold.tWhite.col3.addButton.bgGray.relative(for="imgProject")
                        .r34
                        .cCenter
                            p.menuItem.menuImgInvert.tBold add new image
                        input#imgProject.menuOp(name="imgItems", type="file", style="display: none", accept="images/*", multiple="multiple")

    script.
            var form = document.getElementById('mainForm');

                

            var el1 = document.getElementById('sort1');
            var sortable1 = Sortable.create(el1,{handle:".sortHandle", ghostClass: "sortable-ghost", onEnd: function(){
                var el = document.getElementsByClassName('sort1');
                var currentNumber = 1;
                let sort1Obj = [];
                
                
                Array.prototype.forEach.call(el , function(elem){
                    elem.setAttribute("data-order", currentNumber);
                    currentNumber++
                    

                    sort1Obj.push( { id:elem.getAttribute("data-id"), "order":elem.getAttribute("data-order")} )

                });
                sort1 = document.querySelector('input[name=sort1]');
                sort1.value = JSON.stringify(sort1Obj);
                
                }
            });
                

            form.onsubmit = function() {
                var img =  document.querySelector('input[name=imgItems]');
                var cat =  document.querySelector('input[name=cat]')
                var currID =  document.querySelector('input[name=currID]')
                var contents = " ";
                if(img.files.length){
                    contents = contents+" "+img.files[0].name
                }
                var formData = new FormData(form);
                var xhr = new XMLHttpRequest();
                xhr.open('POST', form.getAttribute('action'), true);
                xhr.upload.onprogress = function(e) {
                        console.log(contents)
                    if (e.lengthComputable) {
                        var loader = document.querySelector('#vidLoader')
                        var count = document.querySelector('#count')
                        var percent = parseInt((e.loaded / e.total) * 100);
                        loader.style.width = percent+"%";
                        count.innerHTML = contents+": "+percent+"%";
                    }
                };

                xhr.upload.onload = function() {
                        window.location.href = "/admin/location-edit?id="+currID.value;
                };
                xhr.onerror = function(e) {
                    console.log('Error');
                    console.log(e);
                };
                xhr.send(formData)
                return false;

            }

            