extend layout

block content
    for item in data
        form#mainForm.fullWidth.flex(method='POST', action='/admin/news-edit?id='+item.id, enctype='multipart/form-data')
            #menuPanel
                p.mbMed.tTitle Settings
                .menuSave.menuItem.mbXs
                    input.menuOp.tCap(type="submit", value="Save Changes")
                .menuTrash.menuItem.mbLrg
                    a.tCap.menuOp(href="/admin/news-delete?id="+item.id, onclick="return confirm('Are you sure?')")="Delete Article Item" 
                if item.rsvpOpt
                    a(href=`/admin/rsvp?id=${item.id}`)
                        .menuImg.menuItem.mbMed
                            .menuOp.tCap View RSVP
                .menuFold.menuItem.mbMed
                    a.tCap.menuOp(href="/admin/news-add?")=`Add New Article`
            #content.col23.colSkip
                p.mbMed.tTitle
                    a(href="/admin/news")
                        span.tGray News /    
                    span="Edit Article: "+item.title
                .content-form.fullWidth.flex.mbSm
                    .fullWidth.mbSm
                        label title
                        p
                        input.prime-input(name="title", type="text", value=item.title, required)
                    .fullWidth.mbSm
                        label sub-title
                        p
                        input.prime-input(name="subTitle", type="text", value=item.subTitle, required)
                    .fullWidth.mbMed
                        label Tags
                        p
                        textarea.prime-input(name="tags", type="text", value=item.tags, required)=item.tags
                    .col2.mbSm.relative
                        label Event Date
                        p
                        input.prime-input(name="date", type="date", value=item.date, required)
                    .col2.mbSm.relative.selectField
                        label RSVP Option
                        p
                        select.fullWidth(name="rsvpOpt")
                            option(value="false" ) false
                            option(value="true", selected=item.rsvpOpt === true  ) true
                    .fullWidth.mbHuge
                        label Body
                        p
                        input.prime-input(name="about", type="hidden", value=item.about)
                        div#quill1.quill!=item.about

                .tTitle.mbMed.mtLrg Product Images
                #sort1.galleryHold.flex.flexAStart
                    input.form-control(name='sort1', type='hidden')
                    input.form-control(name='currID', type='hidden', value=item.id)
                    -   var sortCount1 = 1
                    for img in data[0].media
                        .sort1.singleImg.col3.tGray(data-id=img.id, data-order=sortCount1)
                            img(src=img.url)
                            .fullWidth.ptXs.pbXs.tBold.deleteBtn.flex.relative
                                p.tBold=sortCount1+"."
                                a(href="/admin/media-delete?id="+img.id+"&news="+item.id onclick="return confirm('Are you sure?')")
                                    p.fullWidth.tBold.tRight.removeText × Remove
                                    .sortHandle
                        -   sortCount1++
                    label.tBold.tWhite.col3.addButton.bgGray.relative(for="imgProject")
                        .r34
                        .cCenter
                            p.menuItem.menuImgInvert.tBold add new image
                        input#imgProject.menuOp(name="imgItems", type="file", style="display: none", accept="images/*", multiple="multiple")

        script.
                var form = document.getElementById('mainForm');
                var quillBar = [
                        [{ 'header': [1,2,3, false] }],
                        ['bold', 'italic'],
                        [{ list: 'ordered' }, { list: 'bullet' }]
                        ]
                var quill1 = new Quill('#quill1',{modules: {toolbar: quillBar},theme: 'snow'});

                    

                form.onsubmit = function() {
                    var term1 = document.querySelector('input[name=about]');
                    term1.value = (quill1.root.innerHTML);
                        console.log(term1.value);
                    var img =  document.querySelector('input[name=imgItems]');
                    var currID =  document.querySelector('input[name=currID]')
                    var contents = " ";
                    if(img.files.length){
                        contents = contents+" "+img.files[0].name
                    }
                    var formData = new FormData(form);
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', form.getAttribute('action'), true);
                    xhr.upload.onprogress = function(e) {
                            console.log(contents)
                        if (e.lengthComputable) {
                            var loader = document.querySelector('#vidLoader')
                            var count = document.querySelector('#count')
                            var percent = parseInt((e.loaded / e.total) * 100);
                            loader.style.width = percent+"%";
                            count.innerHTML = contents+": "+percent+"%";
                        }
                    };

                    xhr.upload.onload = function() {
                            window.location.href = "/admin/news-edit?id="+currID.value
                    };
                    xhr.onerror = function(e) {
                        console.log('Error');
                        console.log(e);
                    };
                    xhr.send(formData)
                    return false;

                }

                var el1 = document.getElementById('sort1');
                var sortable1 = Sortable.create(el1,{handle:".sortHandle", ghostClass: "sortable-ghost", onEnd: function(){
                var el = document.getElementsByClassName('sort1');
                var currentNumber = 1;
                let sort1Obj = [];
                
                
                Array.prototype.forEach.call(el , function(elem){
                            elem.setAttribute("data-order", currentNumber);
                            currentNumber++
                            

                            sort1Obj.push( { id:elem.getAttribute("data-id"), "order":elem.getAttribute("data-order")} )

                        });
                        sort1 = document.querySelector('input[name=sort1]');
                        sort1.value = JSON.stringify(sort1Obj);
                
                }
            });

                