extend layout

block content
    for item in data
        form#mainForm.fullWidth.flex(method='POST', action=`/admin/shopOption-edit?id=${item.id}&cat=${cat}&itemID=${itemID}`)
            #menuPanel
                p.mbMed.tTitle Settings
                .menuSave.menuItem.mbXs
                    input.menuOp.tCap(type="submit", value="Save Changes")
                .menuTrash.menuItem.mbLrg
                    a.menuOp(href=`/admin/shopOption-delete?id=${item.id}&cat=${cat}&item=${itemID}`, onclick="return confirm('Are you sure?')") Delete Option
            #content.col23.colSkip
                p.mbMed.tTitle
                    a(href="/admin/shop")
                        span.tGray Shop /  
                    a(href="/admin/shop/category?cat="+cat)
                        span.tGray=cat+" / "
                    a(href="/admin/shop-edit?id="+itemID+"&cat="+cat)
                        span.tGray=itemName+" / "    
                    span Stock Info Edit
            
                .stockHold.fullWidth.flex.tTitle.mbXs
                    .fullWidth.mbSm
                        label Title
                        p
                        input.fullWidth(type="text", name="title", value=item.title)
                    .fullWidth.mbSm
                        label Cost
                        p
                        input.fullWidth(type="number", name="cost", value=(item.cost/100).toFixed(2) step="any")
                    .fullWidth.mbSm
                        label Stock
                        p
                        input.fullWidth(type="number", name="stock", value=item.stock)
                    .fullWidth.mbSm
                        label Limit
                        p
                        input.fullWidth(type="number", name="limit", value=item.limit)