extend layout

block content
    #mainForm.fullWidth.flex
        #menuPanel
            p.mbMed.tTitle Settings
    


        #sectionEditor.edit.mbLrg.colSkip.col23
            p.mbMed.tTitle
                a(href="/admin/shop")
                    span.tGray=`Shop / `
                span=`Open Orders`
            
                            

            .fullWidth.flex.mbSm.tBold.bBlk.bBotSm.pbSm
            #sort1.principalHold.mbHuge
                for item in data 
                    .fullWidth.flex.flexACenter.bBlk.bBotSm.pbXs.ptXs
                        for buy in item.customers
                            a.col2.pbSm(href="/admin/shop/order-view?id="+item.id)        
                                .fullWidth.relative
                                    p.plSm.tCap.tBold=`${item.id}. `
                                        if buy.firstName
                                            span=`${buy.firstName}`
                                            if buy.lastName
                                                span=` ${buy.lastName}`
                                    p.plSm.prSm.tGreen=prettyDate(item.created_at)
                        a.col2.flex(href=`/admin/shop/order-ship?id=${item.id}`)
                            .btn.btn-sec.fullWidth.relative
                                p.tBold Mark Shipped
                


        -function prettyDate(dateString){
        //if it's already a date object and not a string you don't need this line:
        -var date = new Date(dateString).getTimezoneOffset();
        -var d = date.getDate();
        //- -var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun","Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
        -var m = date.getMonth()+1;
        -var y = date.getFullYear();
        -var hours = date.getHours();
        -var minutes = date.getMinutes();
        -var ampm = hours >= 12 ? 'pm' : 'am';
        -hours = hours % 12;
        -hours = hours ? hours : 12; // the hour '0' should be '12'
        -minutes = minutes < 10 ? '0'+minutes : minutes;
        -var strTime = hours + ':' + minutes + ' ' + ampm;
        -return m+'/'+d+'/'+y+" at "+strTime
    -}