extend layout

block content
        #mainForm.fullWidth.flex
            #menuPanel
                p.mbMed.tTitle Order By
                    a.col3(href=`/admin/rsvp?id=${rootID}&sort=name`)
                        p.mbSm.tBold By Name
                    a.col3(href=`/admin/rsvp?id=${rootID}`)
                        p.mbMed.tBold By ID 
                .menuImg.menuItem.mbLrg
                    a.tCap.menuOp(href="/admin/news-edit?id="+rootID)="Back to Article" 
                
            #content.col23.colSkip
                .fullWidth.mbMed.tTitle.flex
                    a.col3(href=`/admin/rsvp?id=${rootID}&sort=name`)
                        p.tBold By Name
                    a.col3(href=`/admin/rsvp?id=${rootID}`)
                        p.tBold By ID 
                for item in data
                    .singleRSVP.bBotSm.bGray.fullWidth.ptMed(class=item.check?"":"inactive")
                        .contact.fullWidth.flex
                            .fullWidth.flex.infoBlock.mbSm
                                .col2.rsvpNum.tCap
                                    if item.id > 99
                                        p.tBold.tCap=item.id
                                            span.tBold.tCap.mlSm=" "+item.lastName+", "
                                            span.tBold.tCap=item.firstName+" +"+(item.guests-1)
                                            if item.guests - 1 > 0
                                                span=" +"+(item.guests-1)
                                    else
                                        p.tBold.tCap #{item.id < 100 && item.id < 10 ? "00"+item.id:"0"+item.id }
                                            span.tBold.tCap.mlSm=" "+item.lastName+", "
                                            span.tBold.tCap=item.firstName
                                            if item.guests - 1 > 0
                                                span=" +"+(item.guests-1)

                                .col2.name.flex.rsvpContact
                                    a(href="mailto:"+item.email)
                                        p=item.email
                                    p=item.phone
                            .fullWidth.relative
                                if item.check
                                else
                                    a.fullWidth.checkInBut(href="/admin/rsvp-checkin?id="+item.id+"&rsvp="+rootID onclick="return confirm('Are you sure?')")
                                        .fullWidth.btn.btn-sec.mbSm
                                            p.tCap.tBold check in
                     
                    -   i++
                        